In [7]:
import pandas as pd

df = pd.read_csv("all.csv")
df = df.drop_duplicates("enemy")

df_new = pd.DataFrame()

df_new["Enemy"] = df["enemy"]
df_new["Player Life"] = df["player_life"]
df_new["Enemy Life"] = df["enemy_life"]

In [12]:
df_new.astype(int)

    Enemy  Player Life  Enemy Life
0       1            0          80
5       2            4           0
10      3            0          60
15      4            0          60
20      5           43           0
25      6            0          10
30      7            7           0
35      8           50           0